html, body {
    margin: 0;
    padding: 0;
    height: auto;
    width:100%;
    display: flex;
    background-color: white;
    overflow: auto;
}
  
.main { 
    padding-top: 100px;
}

.intro {
    background-color: #c5ffc5;
    align-items: center;
    justify-content: space-between;
    width:100vw;
    height: 450px;
    padding-left: 50px;
}

.text {
    padding-left: 50px;
}

.motto {
    font-weight: 500 !important;
    font-size: 3vw;
    color: rgb(22, 80, 59);
    text-shadow: 2px 2px 4px grey !important;
    font-family: 'courier new' !important;
    padding-left: 5px;
}

.typewriter {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap; 
    overflow: hidden; 
}

.typewriter h2 {
    border-right: 0.15em solid #333; 
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    line-height: 1.1;
    width: 0; 
    animation:
    typing 3.5s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
    display: inline-block;
  }
  
  .typewriter h2:last-child {
    animation: typing2 3s steps(30, end) 1s forwards, blink-caret 0.75s step-end infinite;
    width: 0; 
  }
  
  @keyframes typing2 {
    from { width: 0; }
    to { width: 50%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
  }

.logo {
    display: flex;
    padding-right: 50px;
}

.charts {
  display: flex;
  justify-content: space-evenly;
}
